__pycache__/
*.pyc
.venv/
.env
.dist/
.coverage
htmlcov/
.cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg-info/
dist/
build/
node_modules/
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
